<!DOCTYPE html>
<html>
<head>
  <title>Toeic</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'operator/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'operator/application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="col-md-2">
    <%= render 'operator/layouts/navigation' %>
  </div>
  <div class="col-md-10">
    <div>
      <%= render 'operator/layouts/topnavbar' %>
    </div>
    <div>
      <%= yield %>
    </div>
  </div>

  <script>
    <%= sanitize custom_bootstrap_flash %>
  </script>
</body>
</html>
