<!DOCTYPE html>
<html>
<head>
  <title>Toeic</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'user/application', media: 'all'%>
</head>

<body>
  <div class="row">
    <div class="col-md-2 col-xs-2 navigation-menu">
      <%= render 'user/layouts/navigation' %>
    </div>
    <div class="col-md-offset-2 col-xs-offset-2 col-md-10 col-sm-10 col-xs-12 content-content">
      <div class="top">
        <%= render 'user/layouts/topnavbar' %>
      </div>
      <div class="content" >
        <%= yield %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag 'user/application'%>
  <script>
    <%= sanitize custom_bootstrap_flash %>
  </script>
</body>
</html>
